<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="id" name="id" th:value="${genColumns.id}"
                               type="hidden">
                                                                                                                                        <div class="form-group">
                                    <label class="col-sm-3 control-label" th:text="#{admin.column.tableName}+'：'">Tên bảng:</label>
                                    <div class="col-sm-8">
                                                                                    <input readonly id="tableName" name="tableName" class="form-control"
                                                   th:value="${genColumns.tableName}"
                                                   type="text">
                                        


                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label" th:text="#{admin.column.name}+'：'">Tên cột:</label>
                                    <div class="col-sm-8">
                                                                                    <input readonly id="columnName" name="columnName" class="form-control"
                                                   th:value="${genColumns.columnName}"
                                                   type="text">
                                        


                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label" th:text="#{admin.column.type}+'：'">Kiểu cột:</label>
                                    <div class="col-sm-8">
                                                                                    <input readonly id="columnType" name="columnType" class="form-control"
                                                   th:value="${genColumns.columnType}"
                                                   type="text">
                                        


                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label" th:text="#{admin.column.javaType}+'：'">Kiểu Java ánh xạ:</label>
                                    <div class="col-sm-8">
                                                                                    <input readonly id="javaType" name="javaType" class="form-control"
                                                   th:value="${genColumns.javaType}"
                                                   type="text">
                                        


                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label" th:text="#{admin.column.comment}+'：'">Chú thích cột:</label>
                                    <div class="col-sm-8">
                                                                                    <input readonly id="columnComment" name="columnComment" class="form-control"
                                                   th:value="${genColumns.columnComment}"
                                                   type="text">
                                        


                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label" th:text="#{admin.column.sort}+'：'">Thứ tự cột (tăng dần):</label>
                                    <div class="col-sm-8">
                                                                                    <input readonly id="columnSort" name="columnSort" class="form-control"
                                                   th:value="${genColumns.columnSort}"
                                                   type="text">
                                        


                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label" th:text="#{admin.column.label}+'：'">Nhãn cột:</label>
                                    <div class="col-sm-8">
                                                                                    <input readonly id="columnLabel" name="columnLabel" class="form-control"
                                                   th:value="${genColumns.columnLabel}"
                                                   type="text">
                                        


                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label" th:text="#{admin.column.displayType.help}+'：'">Kiểu hiển thị: 1 ô nhập; 2 danh sách chọn; 3 số; 4 ngày; 5 vùng văn bản; 6 rich text; 7 một ảnh; 8 nhiều ảnh; 9 một tệp; 10 nhiều tệp:</label>
                                    <div class="col-sm-8">
                                                                                    <input readonly id="pageType" name="pageType" class="form-control"
                                                   th:value="${genColumns.pageType}"
                                                   type="text">
                                        


                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label" th:text="#{admin.column.required}+'：'">Bắt buộc:</label>
                                    <div class="col-sm-8">
                                                                                    <input readonly id="isRequired" name="isRequired" class="form-control"
                                                   th:value="${genColumns.isRequired}"
                                                   type="text">
                                        


                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label" th:text="#{admin.column.dictType}+'：'">Loại từ điển dùng khi hiển thị danh sách chọn:</label>
                                    <div class="col-sm-8">
                                                                                    <input readonly id="dictType" name="dictType" class="form-control"
                                                   th:value="${genColumns.dictType}"
                                                   type="text">
                                        


                                    </div>
                                </div>
                                                                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
</body>
</html>
