<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<meta charset="utf-8">
<head th:include="include :: header"></head>

<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">

		<div class="row">
			<div class="col-sm-12">

				<div class="ibox-content">
					<form class="form-horizontal m-t" id="signupForm">
						<input id="userId" name="userDO.userId" th:value="${user.userId}"
							type="hidden">
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{admin.user.password}+'：'">Mật khẩu:</label>
							<div class="col-sm-8">
								<input id="password" name="pwdNew" class="form-control"
									type="password">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-8 col-sm-offset-3">
								<button type="submit" class="btn btn-primary" th:text="#{common.submit}">Gửi</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>



	<!-- JavaScript dùng chung. -->
	<script src="/js/jquery.min.js?v=2.1.4"></script>
	<script src="/js/csrf.js"></script>
	<script src="/js/bootstrap.min.js?v=3.3.6"></script>

	<!-- JavaScript của ứng dụng. -->
	<script src="/js/content.js?v=1.0.0"></script>

	<!-- jQuery Validation plugin javascript-->
	<script src="/js/plugins/validate/jquery.validate.min.js"></script>


	<!-- script src="/js/demo/form-validate-demo.js"></script> -->


	<script type="text/javascript" th:inline="javascript">
		const resetPasswordMessages = {
			systemContact: /*[[#{admin.system.contact}]]*/ 'Đã xảy ra lỗi hệ thống, vui lòng liên hệ quản trị viên',
			passwordRequired: /*[[#{admin.user.password.required}]]*/ 'Vui lòng nhập mật khẩu',
			passwordMinlength: /*[[#{admin.user.password.minlength12}]]*/ 'Mật khẩu phải có ít nhất 12 ký tự'
		};
		$(document).ready(function() {
			validateRule();
			//setCheckedRoles();
		});
		$.validator.setDefaults({
			submitHandler : function() {
				update();
			}
		});
		function update() {
			$.ajax({
				cache : true,
				type : "POST",
				url : "/sys/user/adminResetPwd",
				data : $('#signupForm').serialize(),// ID biểu mẫu.
				async : false,
				error : function(request) {
					parent.layer.msg(resetPasswordMessages.systemContact);
				},
				success : function(data) {
					if (data.code == 0) {
						parent.layer.msg(HtmlUtil.htmlEncode(data.msg || ""));
						parent.reLoad();
						var index = parent.layer.getFrameIndex(window.name); // Lấy chỉ mục cửa sổ.
						parent.layer.close(index);

					} else {
						parent.layer.msg(HtmlUtil.htmlEncode(data.msg || ""));
					}

				}
			});

		}

		function validateRule() {
			var icon = "<i class='fa fa-times-circle'></i> ";
			$("#signupForm").validate({
				rules : {

					password : {
						required : true,
						minlength : 12
					}
				},
				messages : {
					password : {
						required : icon + resetPasswordMessages.passwordRequired,
						minlength : icon + resetPasswordMessages.passwordMinlength
					}
				}
			})
		}
	</script>
</body>

</html>
