<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="vi">
<head th:replace="common/header :: common_head(~{::title},~{},~{::link},~{})">
    <title th:text="#{user.password.change}+'_'+${application.website.name}"></title>
    <link rel="stylesheet" href="/css/user.css"/>
</head>
<body class="">

<div th:replace="common/top :: top('')">
</div>
<div class="main box_center cf">
    <div class="userBox cf">
        <div class="my_l">

            <ul class="log_list">
                <li><a class="link_1" href="/user/userinfo.html" th:text="#{user.center}">Tài khoản của tôi</a></li>
                <li><a class="link_4" href="/user/favorites.html" th:text="#{user.bookshelf}">Tủ sách</a></li>
                <li><a class="link_6" href="/user/comment.html" th:text="#{user.comments}">Bình luận của tôi</a></li>
                <li><a class="link_7" href="/user/feedback_list.html" th:text="#{user.feedback}">Phản hồi của tôi</a></li>
                <li><a class="link_8 on" href="/user/setup.html" th:text="#{user.settings}">Cài đặt tài khoản</a></li>
            </ul>

        </div>
        <div class="my_r">
            <div class="my_info cf">
                <div class="my_info_txt">
                    <ul class="mytab_list">
                        <li><i class="tit" th:text="#{user.password}">Mật khẩu</i><input name="oldPass" type="password" id="txtOldPass" class="s_input"
                                                          th:placeholder="#{user.password.old}"/></li>
                        <li><i class="tit">&nbsp;</i><input name="txtNewPass1" type="password" id="txtNewPass1"
                                                            class="s_input" th:placeholder="#{user.password.new}"/></li>
                        <li><i class="tit">&nbsp;</i><input name="txtNewPass2" type="password" id="txtNewPass2"
                                                            class="s_input" th:placeholder="#{user.password.confirm}"/></li>
                        <li><i class="tit">&nbsp;</i><input type="submit" name="btnExchangePassword" th:value="#{common.change}"
                                                            id="btnExchangePassword" onclick="updatePassword()"
                                                            class="s_btn btn_red"/></li>
                        <li><i class="tit">&nbsp;</i><span id="LabErr"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="common/footer :: footer">
</div>
<div th:replace="common/js :: js"></div>
<script type="text/javascript" th:inline="javascript">
    const oldRequiredText = /*[[#{user.password.old.required}]]*/ 'Mật khẩu hiện tại không được để trống.';
    const newRequiredText = /*[[#{user.password.new.required}]]*/ 'Mật khẩu mới không được để trống.';
    const confirmRequiredText = /*[[#{user.password.confirm.required}]]*/ 'Vui lòng xác nhận mật khẩu mới.';
    const mismatchText = /*[[#{user.password.mismatch}]]*/ 'Hai lần nhập mật khẩu mới không khớp.';
    const networkErrorText = /*[[#{auth.networkError}]]*/ 'Không thể kết nối mạng';
    function updatePassword() {
        var oldPassword = $("#txtOldPass").val();
        if (oldPassword.isBlank()) {
            $("#LabErr").html(oldRequiredText);
            return;
        }
        var newPassword1 = $("#txtNewPass1").val();
        if (newPassword1.isBlank()) {
            $("#LabErr").html(newRequiredText);
            return;
        }
        var newPassword2 = $("#txtNewPass2").val();
        if (newPassword2.isBlank()) {
            $("#LabErr").html(confirmRequiredText);
            return;
        }
        if (newPassword1 !== newPassword2) {
            $("#LabErr").html(mismatchText);
            return;
        }
        $.ajax({
            type: "POST",
            url: "/user/updatePassword",
            data: {'oldPassword': oldPassword, 'newPassword1': newPassword1, 'newPassword2': newPassword2},
            dataType: "json",
            success: function (data) {
                if (data.code == 200) {
                    window.location.href = '/user/setup.html';

                } else if (data.code == 1001) {
                    // Phiên đăng nhập đã hết hạn.
                    location.href = '/user/login.html?originUrl=' + encodeURIComponent(location.href);

                } else {
                    $("#LabErr").html(data.msg);
                }

            },
            error: function () {
                layer.alert(networkErrorText);
            }
        })
    }
</script>

</body>
</html>
