<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
            <div class="ibox-content">
            <form class="form-horizontal m-t" id="signupForm">
                <input id="id" name="id" th:value="${friendLink.id}"
                       type="hidden">
                                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.friendLink.name}+'：'">Tên liên kết:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${friendLink.linkName}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.friendLink.url}+'：'">URL liên kết:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${friendLink.linkUrl}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.friendLink.sort}+'：'">Thứ tự:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${friendLink.sort}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.friendLink.enabledDetail}+'：'">Trạng thái bật (0: tắt, 1: bật):</label>

                                                    <div style="padding-top:8px" class="col-sm-8 dict-type" dict-type="yes_no"
                                 th:attr="dict-value=${friendLink.isOpen}">
                            </div>

                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.audit.createdById}+'：'">ID người tạo:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${friendLink.createUserId}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.audit.createdAt}+'：'">Thời gian tạo:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${friendLink.createTime}==null?null:${#dates.format(friendLink.createTime,'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.audit.updatedById}+'：'">ID người cập nhật:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${friendLink.updateUserId}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.audit.updatedAt}+'：'">Thời gian cập nhật:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${friendLink.updateTime}==null?null:${#dates.format(friendLink.updateTime,'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        

                    </div>
                                                    </form>
            </div>
        </div>
    </div>
</div>
</div>
<div th:include="include::footer"></div>
</body>
</html>
