<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:text="#{reader.seo.catalog.title(${book.bookName})}"></title>

    <meta name="keywords" th:content="#{reader.seo.catalog.keywords(${book.bookName})}">

    <meta name="description"
          th:content="#{reader.seo.catalog.description(${book.bookName})}">


    </div>

    <div th:include="/common/css :: css"></div>

    <style type="text/css">

        .indexP p a {
            color: #4c6978;
        }

        .line-limit-length {

            overflow: hidden;

            text-overflow: ellipsis;

            white-space: nowrap;

        }
    </style>
    </div>



</head>
<body>

<div id="content">
<input type="hidden" id="bookIdHidden" th:value="${book.id}"/>
<div style="height: 50px;line-height: 50px;text-align: center" class="layui-header header header-doc  layui-bg-cyan">

    <div style="float: left;margin-left: 10px">
        <a href="#" data-csp-action="history-back">
            <i style="font-size: 20px;color: #92B8B1;" class="layui-icon">&#xe65c;</i></a>
    </div>
    <a style="color: #ffffff;" th:href="'/book/'+ ${book.id} + '.html'"><b class="layui-icon" th:text="${book.bookName}"></b></a>
    <div style="float: right;margin-right: 10px">
        <a href="/"><i style="font-size: 20px;color: #92B8B1;" class="layui-icon">&#xe68e;</i></a>
    </div>
</div>


<p style="height: 30px;line-height: 30px;padding: 10px">

    <a href="#bottom" style="color: red" th:text="'  ↓ '+#{reader.goBottom}">↓ Đi tới cuối trang</a>
</p>


<div class="layui-colla-content layui-show indexP layui-row">
    <p class="line-limit-length layui-col-xs12 layui-col-sm4 layui-col-md3 layui-col-lg2" style="padding-left:10px;height: 50px;line-height: 50px;" th:each="index : ${bookIndexList}">
        <a th:href="'/book/'+${index.bookId}+'/'+${index.id}+'.html'" th:text="${index.indexName}">

        </a>
    </p>



</div>
</div>
<div th:replace="/common/footer :: footer">
</div>

<a id="bottom" name="bottom"></a>
</body>
<div th:replace="/common/js :: js">
</div>
<script>
    $("#content").css("min-height",($(window).height()-60)+"px");
    $.get("/book/addVisit",{"bookId":$("#bookIdHidden").val()},function(){});
    function toMyCollect(){
        window.location.href = "/user/favorites.html";
    }
</script>


</html>
