<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
            <div class="ibox-content">
            <form class="form-horizontal m-t" id="signupForm">
                <input id="id" name="id" th:value="${authorCode.id}"
                       type="hidden">
                                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.author.inviteCode}+'：'">Mã mời:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${authorCode.inviteCode}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.authorCode.validUntil}+'：'">Thời hạn hiệu lực:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${authorCode.validityTime}==null?null:${#dates.format(authorCode.validityTime,'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.authorCode.used}+'：'">Đã sử dụng (0: chưa dùng, 1: đã dùng):</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${authorCode.isUse}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.audit.createdAt}+'：'">Thời gian tạo:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${authorCode.createTime}==null?null:${#dates.format(authorCode.createTime,'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.audit.createdById}+'：'">ID người tạo:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${authorCode.createUserId}">
                            </div>
                        
                        

                    </div>
                                                    </form>
            </div>
        </div>
    </div>
</div>
</div>
<div th:include="include::footer"></div>
</body>
</html>
