<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common_head(~{::title},~{::meta},~{::link},~{})">
    <title th:text="${book.bookName}+' - '+${book.authorName}+' - '+${application.website.name}"></title>
    <meta name="keywords"
          th:content="${book.bookName}+','+${book.authorName}+','+#{book.latest}+','+#{book.read}"/>
    <meta name="description"
          th:content="#{book.seo.description(${application.website.name},${book.bookName})}"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link href="/css/book.css?v=2019" rel="stylesheet"/>
</head>
<body>

<input type="hidden" id="lastBookIndexId" th:value="${book.lastIndexId}"/>
<input type="hidden" id="bookCatId" th:value="${book.catId}"/>
<input type="hidden" id="bookId" th:value="${book.id}"/>
<input type="hidden" id="preContentId" th:value="${firstBookIndexId}"/>

<div th:replace="common/top :: top('')">
</div>

<div class="main box_center cf mb50">
    <div class="nav_sub">
        <a href="/" th:text="${application.website.name}"></a>&gt;<a th:href="'/book/bookclass.html?c='+${book.catId}"
                                                                     th:text="${book.catName}"></a>&gt;<a
            th:href="'/book/'+${book.id}+'.html'" th:utext="${book.bookName}"></a>
    </div>
    <div class="channelWrap channelBookInfo glass-card cf">
        <div class="bookCover cf">
            <a th:href="${book.picUrl}" class="book_cover"><img class="cover" th:src="${book.picUrl}" width="200" height="267" fetchpriority="high"
                                                                th:attr="alt=${book.bookName}"/></a>
            <div class="book_info">
                <div class="tit">
                    <h1 th:utext="${book.bookName}"></h1><!--<i class="vip_b">VIP</i>--><a class="author"
                                                                                           th:text="#{book.authorBy(${book.authorName})}"></a>
                </div>
                <ul class="list">
                    <li><span class="item"><span th:text="#{book.category}+': '">Thể loại: </span><em th:text="${book.catName}"></em></span>
                        <span class="item" th:switch="${book.bookStatus}"><span th:text="#{book.status}+': '">Trạng thái: </span><em th:case="'0'" th:text="#{book.status.serializing}">Đang ra</em><em
                                th:case="*" th:text="#{book.status.completed}">Đã hoàn thành</em></span>
                        <span class="item"><span th:text="#{book.visits}+': '">Tổng lượt xem: </span><em id="cTotal" th:text="${book.visitCount}"></em></span>
                        <span class="item"><span th:text="#{book.words}+': '">Tổng số chữ: </span><em th:text="${book.wordCount}"></em></span></li>
                </ul>
                <div class="intro_txt">
                    <p th:utext="${book.bookDesc}"></p>
                    <button type="button" class="icon_hide" onclick=""><i aria-hidden="true"></i><span th:text="#{book.collapse}">Thu gọn</span></button>
                    <button type="button" class="icon_show" onclick=""><i aria-hidden="true"></i><span th:text="#{book.expand}">Mở rộng</span></button>
                </div>
                <div class="btns" id="optBtn">
                    <a th:href="'/book/'+${book.id}+'/'+${firstBookIndexId}+'.html'" class="btn_ora" th:text="#{book.readNow}">Đọc ngay</a>
                    <span id="cFavs"><a href="javascript:void(0);" class="btn_ora_white btn_addsj"
                                        onclick="javascript:BookDetail.AddFavorites(37,0,0);" th:text="#{book.addShelf}">Thêm vào tủ sách</a>
                    </span>
                    <button th:if="${book.authorId != null}" type="button" class="btn_ora_white" style="background:#fff" data-author-follow
                            th:attr="data-author-id=${book.authorId},data-text-follow=#{notification.followAuthor},data-text-following=#{notification.followingAuthor},data-text-unfollow=#{notification.unfollowAuthor},data-network-error=#{auth.networkError}"
                            th:text="#{notification.followAuthor}">Theo dõi tác giả</button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="common/monthly_ticket :: book_widget(${book.id})"></div>

    <div class="channelBookContent cf">
        <!--left start-->
        <div class="wrap_left fl">
            <div class="wrap_bg">

                <!-- Mục lục chương. -->
                <div class="pad20_nobt">
                    <div class="bookChapter">
                        <div class="book_tit">
                            <div class="fl">
                                <h3 th:text="#{book.latest}">Chương mới nhất</h3><span id="bookIndexCount">(0)</span></div>
                            <a class="fr" th:href="'/book/indexList-'+${book.id}+'.html'" th:text="#{book.allCatalog}">Toàn bộ mục lục</a>
                        </div>
                        <ul class="list cf">
                            <li>
                                <span class="fl font16"> <a
                                        th:href="'/book/'+${book.id}+'/'+${book.lastIndexId}+'.html'"
                                        th:utext="${book.lastIndexName}"><!--<i class="vip">VIP</i>--></a></span>
                                <span class="black9 fr"
                                      th:text="#{reader.updated}+': '+${#dates.format(book.lastIndexUpdateTime, 'dd/MM/yy HH:mm:ss')}"></span>
                            </li>
                            <li class="zj_yl" id="lastBookContent"> 　</li>
                            <!-- Bản xem trước của chương. -->
                        </ul>
                    </div>
                </div>
                <!-- Hết mục lục chương. -->

                <!-- Khu vực bình luận. -->
                <div class="pad20">
                    <div class="bookComment">
                        <div class="book_tit">
                            <div class="fl">
                                <h3 th:text="#{comment.area}">Khu vực bình luận</h3><span id="bookCommentTotal"
                                                         th:text="'('+${bookCommentPageBean.total}+')'"></span>
                            </div>
                            <a class="fr" href="#txtComment" th:text="#{comment.publish}">Đăng bình luận</a>
                        </div>
                        <div class="no_comment" id="noCommentPanel"
                             th:style="${bookCommentPageBean.total > 0}? 'display:none'">
                            <img src="/images/no_comment.png" alt=""/>
                            <span class="block" th:text="#{comment.empty}">Chưa có bình luận</span>
                        </div>
                        <div class="commentBar" id="commentPanel"
                             th:style="${bookCommentPageBean.total == 0}? 'display:none'">
                            <div th:each="comment: ${bookCommentPageBean.list}" class="comment_list cf">
                                <div class="user_heads fl" vals="389"><img
                                        th:src="${comment.createUserPhoto}?${comment.createUserPhoto}:'/images/man.png'"
                                        class="user_head" alt=""><span class="user_level1"
                                                                       style="display: none;" th:text="#{comment.trainee}">Thành viên mới</span></div>
                                <ul class="pl_bar fr">
                                    <li class="name"><span
                                            th:text="${#strings.substring(comment.createUserName,0,4)}+'****'+${#strings.substring(comment.createUserName,#strings.length(comment.createUserName)-3,#strings.length(comment.createUserName))}"></span><span
                                            style="padding-left: 10px" class="other" th:if="${comment.location}"
                                            th:text="${comment.location} + ' '+#{comment.reader}"></span></span></li>
                                    <li class="dec" th:utext="${comment.commentContent}"></li>
                                    <li class="other cf"><span class="time fl"
                                                               th:text="${comment.createTimeFormat}"></span><span
                                            class="fr"><a th:href="'javascript:toggleCommentUnLike(\''+${comment.id}+'\')'" onclick="javascript:;" class="zan"
                                                          style="padding-left: 10px"><span th:text="#{comment.unlike}">Không thích</span><i class="num" th:id="'unLikeCount'+${comment.id}">([[${comment.unLikesCount}]])</i></a></span><span
                                            class="fr"><a th:href="'javascript:toggleCommentLike(\''+${comment.id}+'\')'"  class="zan"
                                                          style="padding-left: 10px"><span th:text="#{comment.like}">Thích</span><i class="num" th:id="'likeCount'+${comment.id}">([[${comment.likesCount}]])</i></a></span><span
                                            class="fr"><a th:href="'/book/reply-'+${comment.id}+'.html'" class="zan"
                                                          style="padding-left: 10px"><span th:text="#{comment.reply}">Trả lời</span><i class="num">([[${comment.replyCount}]])</i></a></span>
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <!-- Ẩn khi chưa có bình luận. -->
                        <div class="more_bar" id="moreCommentPanel"
                             th:style="${bookCommentPageBean.total == 0}? 'display:none'">
                            <a th:href="'/book/comment-'+${book.id}+'.html'" th:text="#{comment.viewAll}+' >'">Xem tất cả bình luận &gt;</a>
                        </div>

                        <div class="reply_bar" id="reply_bar">
                            <div class="tit">
                                <span class="fl font16" th:text="#{comment.publish}">Đăng bình luận</span>
                                <!-- Yêu cầu đăng nhập trước khi bình luận. -->
                                <span class="fr black9" style="display:none; "><span th:text="#{comment.loginRequired}">Vui lòng đăng nhập trước</span> <a class="orange"
                                                                                       href="/user/login.html" th:text="#{site.login}">Đăng nhập</a><em
                                        class="ml10 mr10">|</em><a class="orange"
                                                                   href="/user/register.html" th:text="#{site.register}">Đăng ký</a></span>
                            </div>
                            <textarea name="txtComment" rows="2" cols="20" id="txtComment" class="replay_text"
                                      th:placeholder="#{comment.placeholder}"></textarea>
                            <div class="reply_btn">
                                <span class="fl black9"><em class="ml5" id="emCommentNum">0/1000</em> <span th:text="#{comment.characters}">ký tự</span></span>
                                <span class="fr"><a class="btn_ora" href="javascript:void(0);"
                                                    onclick="javascript:BookDetail.SaveComment(37,0,$('#txtComment').val());" th:text="#{comment.publish}">Đăng bình luận</a></span>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Hết khu vực bình luận. -->

            </div>
        </div>
        <!--left end-->

        <!--right start-->
        <div class="wrap_right fr">


            <script src="/javascript/authorinfo.js?uid=8" type="text/javascript"></script>
            <!-- Thông tin tác giả. -->
            <div class="wrap_inner author_info mb20">

                <div class="author_head cf">
                    <a href="javascript:void(0);" class="head"><img src="/images/author_head.png" th:alt="#{book.author}"
                                                                    id="authorLogoImg"/></a>
                    <div class="msg">
                        <span class="icon_qyzz" th:text="#{book.authorSigned}">Tác giả đã ký hợp đồng</span>
                        <h4><a th:href="'javascript:searchByK(\''+${book.authorName}+'\')'"
                               th:utext="${book.authorName}"></a></h4>
                    </div>
                </div>
                <div class="author_intro cf">
                    <h4 th:text="#{book.authorMessage}">Lời tác giả</h4>
                    <div class="intro_txt" id="authorNote">
                        <span th:text="#{book.authorDefaultMessage}">Sự ủng hộ của bạn là động lực lớn nhất để tác giả tiếp tục sáng tác.</span>
                    </div>
                </div>
                <!-- Ẩn phần dưới khi tác giả không có tác phẩm khác. -->


            </div>
            <!-- Hết thông tin tác giả. -->
            <script type="text/javascript">
                var authorUId = 8;
                if (authorUId == 0) {
                    $("#authorPanel").hide();
                } else {
                }
            </script>

            <div id="RelateBookOther" class="wrap_inner wrap_right_cont mb20">
                <div class="title cf">
                    <h3 class="on" th:text="#{book.similar}">Đề xuất cùng thể loại</h3>
                </div>
                <div class="tj_bar">
                    <ul id="recBookList">
                        <li th:each="book : ${recBooks}">
                            <div class="book_intro">
                                <div class="cover">
                                    <a th:href="'/book/'+${book.id}+'.html'"><img th:src="${book.picUrl}"
                                                                                  th:alt="${book.bookName}"></a>
                                </div>
                                <div class="dec">
                                    <a class="book_name" th:href="'/book/'+${book.id}+'.html'"
                                       th:text="${book.bookName}"></a>
                                    <a class="txt" th:href="'/book/'+${book.id}+'.html'" th:utext="${book.bookDesc}">

                                    </a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!--right end-->
    </div>
</div>

<div th:replace="common/footer :: footer">
</div>
<div th:replace="common/js :: js"></div>
<script src="/javascript/bookdetail.js?v=1.1" type="text/javascript"></script>
<script src="/javascript/ufans.js?v=1" type="text/javascript"></script>
<script src="/javascript/author-follow.js" defer></script>


<div class="maskBox" style="display:none" onclick="javascript:uFans.closeBox();"></div>
<div class="readPopup pcBox" style="display:none" id="showPC"></div>
<div class="readPopup flowerBox" style="display:none" id="showFlower"></div>
<div class="readPopup newsTipBox" style="display:none;" id="showNote"></div>
<script type="text/javascript" th:inline="javascript">
    var pathname = window.location.pathname;
    var bookId = pathname.substring(pathname.lastIndexOf("/") + 1, pathname.lastIndexOf("."))
    // Truy vấn thông tin chương.
    var lastBookIndexId = $("#lastBookIndexId").val();
    if (lastBookIndexId) {
        $.ajax({
            type: "get",
            url: "/book/queryBookIndexAbout",
            data: {'bookId': bookId, 'lastBookIndexId': lastBookIndexId},
            dataType: "json",
            success: function (data) {
                if (data.code == 200) {
                    var bookIndexData = data.data;
                    $("#bookIndexCount").html("(" + bookIndexData.bookIndexCount + " " +
                        /*[[#{book.chapterUnit}]]*/ 'chương' + ")");
                    $("#lastBookContent").html(bookIndexData.lastBookContent + "...");


                } else {
                    layer.alert(data.msg);
                }

            },
            error: function () {
                layer.alert(/*[[#{auth.networkError}]]*/ 'Không thể kết nối mạng');
            }
        })
    } else {
        $("#optBtn").remove();
    }
</script>
<script language="javascript" type="text/javascript" th:inline="javascript">
    // Kiểm tra truyện đã có trong tủ sách chưa.
    $.ajax({
        type: "get",
        url: "/user/queryIsInShelf",
        data: {'bookId': $("#bookId").val()},
        dataType: "json",
        success: function (data) {
            if (data.code == 200) {
                if (data.data) {
                    $("#cFavs").html("<a class=\"btn_ora_white btn_addsj\" href=\"javascript:void(0);\">" +
                        /*[[#{book.inShelf}]]*/ 'Đã lưu' + "</a>");
                }


            } else if (data.code == 1001) {
                // Chưa đăng nhập.

            } else {
                layer.alert(data.msg);
            }

        },
        error: function () {
            layer.alert(/*[[#{auth.networkError}]]*/ 'Không thể kết nối mạng');
        }
    })


    var currentBId = 37, spmymoney = 0;
    var relationStep = 0;
    var authorUId = 8;
    $(function () {
        $(".icon_show").click(function () {
            $(this).hide();
            $(".icon_hide").show();
            $(".intro_txt").innerHeight("auto");
        });
        $(".icon_hide").click(function () {
            $(this).hide();
            $(".icon_show").show();
            $(".intro_txt").innerHeight("");
        });


        $("#AuthorOtherNovel li").unbind("mouseover");

        $('#txtComment').on('input propertychange', function () {
            var count = $(this).val().length;
            $('#emCommentNum').html(count + "/1000");
            if (count > 1000) {
                $('#txtComment').val($('#txtComment').val().substring(0, 1000));
            }
        });

    });


    $.post("/book/addVisitCount", {"bookId": bookId}, function () {
    });


    function loadCommentList() {
        $.ajax({
            type: "get",
            url: "/book/listCommentByPage",
            data: {'bookId': $("#bookId").val()},
            dataType: "json",
            success: function (data) {
                if (data.code == 200) {
                    var commentList = data.data.list;
                    if (commentList.length > 0) {
                        $("#bookCommentTotal").html("(" + data.data.total + " " +
                            /*[[#{comment.itemUnit}]]*/ 'bình luận' + ")");
                        var commentListHtml = "";
                        for (var i = 0; i < commentList.length; i++) {
                            var comment = commentList[i];
                            commentListHtml += ("<div class=\"comment_list cf\">" +
                                "<div class=\"user_heads fl\" vals=\"389\">" +
                                "<img src=\"" + (comment.createUserPhoto ? comment.createUserPhoto : '/images/man.png') + "\" class=\"user_head\" alt=\"\">" +
                                "<span class=\"user_level1\" style=\"display: none;\">" + (/*[[#{comment.trainee}]]*/ 'Thành viên mới') + "</span></div>" +
                                "<ul class=\"pl_bar fr\">\t\t\t<li class=\"name\">" + (comment.createUserName) + "<span style='padding-left: 10px' class=\"other\">" + (comment.location ? comment.location + " " + (/*[[#{comment.reader}]]*/ 'độc giả') : '') + "</span></li><li class=\"dec\">" +
                                comment.commentContent +
                                "</li><li class=\"other cf\">" +
                                "<span class=\"time fl\">" + comment.createTime + "</span>" +
                                "<span class=\"fr\"><a href=\"javascript:toggleCommentUnLike('"+comment.id+"')\"  class=\"zan\"  style=\"padding-left: 10px\">" + (/*[[#{comment.unlike}]]*/ 'Không thích') + "<i class=\"num\" id='unLikeCount"+comment.id+"'>("+comment.unLikesCount+")</i></a></span>" +
                                "<span class=\"fr\"><a href=\"javascript:toggleCommentLike('"+comment.id+"')\"  class=\"zan\" style=\"padding-left: 10px\">" + (/*[[#{comment.like}]]*/ 'Thích') + "<i class=\"num\" id='likeCount"+comment.id+"'>("+comment.likesCount+")</i></a></span>" +
                                "<span class=\"fr\"><a href=\"/book/reply-"+comment.id+".html\" class=\"zan\" style=\"padding-left: 10px\">" + (/*[[#{comment.reply}]]*/ 'Trả lời') + "<i class=\"num\">("+comment.replyCount+
                            ")</i></a></span>" +
                            "</li>\t\t</ul>\t</div>"
                        )
                            ;
                        }
                        $("#commentPanel").html(commentListHtml);
                        $("#noCommentPanel").hide();
                        $("#commentPanel").show();
                        $("#moreCommentPanel").show();

                    } else {
                        $("#commentPanel").hide();
                        $("#moreCommentPanel").hide();
                        $("#noCommentPanel").show();
                    }


                } else {
                    layer.alert(data.msg);
                }

            },
            error: function () {
                layer.alert(/*[[#{auth.networkError}]]*/ 'Không thể kết nối mạng');
            }
        })
    }
    function toggleCommentLike(commentId) {
        $.ajax({
            type: "post",
            url: "/book/toggleCommentLike",
            data: {'commentId': commentId},
            dataType: "json",
            success: function (data) {
                if (data.code == 200) {
                    $("#likeCount"+commentId).text("("+data.data+")")
                } else if (data.code == 1001) {
                    // Chưa đăng nhập.
                    location.href = '/user/login.html?originUrl=' + encodeURIComponent(location.href);

                }  else {
                    layer.alert(data.msg);
                }

            },
            error: function () {
                layer.alert(/*[[#{auth.networkError}]]*/ 'Không thể kết nối mạng');
            }
        })

    }

    function toggleCommentUnLike(commentId) {
        $.ajax({
            type: "post",
            url: "/book/toggleCommentUnLike",
            data: {'commentId': commentId},
            dataType: "json",
            success: function (data) {
                if (data.code == 200) {
                    $("#unLikeCount"+commentId).text("("+data.data+")")
                } else if (data.code == 1001) {
                    // Chưa đăng nhập.
                    location.href = '/user/login.html?originUrl=' + encodeURIComponent(location.href);

                }  else {
                    layer.alert(data.msg);
                }

            },
            error: function () {
                layer.alert(/*[[#{auth.networkError}]]*/ 'Không thể kết nối mạng');
            }
        })

    }
</script>
</body>
</html>
