<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="vi">
<head th:replace="common/header :: common_head(~{::title},~{},~{::link},~{})">
    <title th:text="#{user.feedback.form}+'_'+${application.website.name}"></title>
    <link rel="stylesheet" href="/css/user.css"/>
</head>
<body class="">

<div th:replace="common/top :: top('')">
</div>
<div class="main box_center cf">
    <div class="channelWrap channelFeedback cf">

        <div class="userBox cf">
            <div class="viewhistoryBox">
                <div class="my_bookshelf">
                    <div class="title cf">
                        <h2 class="fl ml10">
                            <a href="javascript:void(0);" th:text="#{user.feedback.form}">Gửi phản hồi</a></h2>
                    </div>
                    <div class="feedbackBox">

                        <form method="post" action="/" id="Form1"
                              onsubmit="javascript:return checkForm();">
                            <ul class="reg_list">
                                <li>
                                    <textarea name="txtDescription" rows="2" cols="20" id="txtDescription"
                                              class="textarea" th:placeholder="#{user.feedback.placeholder}">
</textarea></li>
                                <li class="mb20">
                                    <input type="submit" name="btnSave" th:value="#{common.submit}" id="btnSave"
                                           class="btn_red btn_big"/></li>
                                <li>
                                    <span id="LabErr"></span></li>
                            </ul>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div th:replace="common/footer :: footer">
</div>
<div th:replace="common/js :: js"></div>
<script src="/javascript/bookdetail.js" type="text/javascript"></script>

<script language="javascript" type="text/javascript" th:inline="javascript">
    const feedbackRequiredText = /*[[#{user.feedback.required}]]*/ 'Nội dung phản hồi không được để trống.';
    const feedbackMinLengthText = /*[[#{user.feedback.minLength}]]*/ 'Nội dung phản hồi phải có ít nhất 5 ký tự.';
    const networkErrorText = /*[[#{auth.networkError}]]*/ 'Không thể kết nối mạng';
    function checkForm() {
        var des = $("#txtDescription").val();
        des = $.trim(des);
        var errStr = '';
        if (des == "") {
            errStr = feedbackRequiredText;
        } else if (des.length < 5) {
            errStr = feedbackMinLengthText;
        }
        if (errStr != '') {
            layer.alert(errStr);
            return false;
        }
        $.ajax({
            type: "POST",
            url: "/user/addFeedBack",
            data: {'content': $("#txtDescription").val()},
            dataType: "json",
            success: function (data) {
                if (data.code == 200) {
                    location.href = '/user/feedback_list.html'

                } else if (data.code == 1001) {
                    // Phiên đăng nhập đã hết hạn.
                    location.href = '/user/login.html?originUrl=' + encodeURIComponent(location.href);

                } else {
                    layer.alert(data.msg);
                }

            },
            error: function () {
                layer.alert(networkErrorText);
            }
        })
        return false;
    }
</script>
</body>
</html>
