<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="id" name="id" th:value="${websiteInfo.id}"
                               type="hidden">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" th:text="#{admin.website.name}+'：'">Tên website:</label>
                            <div class="col-sm-8">
                                <input id="name" name="name"
                                       th:value="${websiteInfo.name}"
                                       class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" th:text="#{admin.website.domain}+'：'">Tên miền:</label>
                            <div class="col-sm-8">
                                <input id="domain" name="domain"
                                       th:value="${websiteInfo.domain}"
                                       class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" th:text="#{admin.website.seoKeywords}+'：'">Từ khóa SEO:</label>
                            <div class="col-sm-8">
                                <input id="keyword" name="keyword"
                                       th:value="${websiteInfo.keyword}"
                                       class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" th:text="#{admin.website.description}+'：'">Mô tả website:</label>
                            <div class="col-sm-8">
                                <input id="description" name="description"
                                       th:value="${websiteInfo.description}"
                                       class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" th:text="#{admin.website.adminQq}+'：'">QQ quản trị viên:</label>
                            <div class="col-sm-8">
                                <input id="qq" name="qq"
                                       th:value="${websiteInfo.qq}"
                                       class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" th:text="#{admin.website.logoDefault}+'：'">Logo mặc định:</label>
                            <div class="col-sm-8">
                                <input id="description" name="logo"
                                       th:value="${websiteInfo.logo}"
                                       class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" th:text="#{admin.website.logoDark}+'：'">Logo nền tối:</label>
                            <div class="col-sm-8">
                                <input id="description" name="logoDark"
                                       th:value="${websiteInfo.logoDark}"
                                       class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary" th:text="#{common.saveAction}">Lưu</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/wangEditor/release/wangEditor.js"></script>
<script type="text/javascript" src="/js/appjs/novel/websiteInfo/edit.js">
</script>
</body>
</html>
