<div th:fragment="footer" class="footer">
    <div class="box_center cf">
        <div class="copyright">
            <ul>
                <li class="menu"><a href="/" th:text="#{site.home}">Trang chủ</a><i
                        class="line">|</i><a href="/user/feedback.html" th:text="#{site.feedback}">Góp ý</a><i
                        class="line">|</i><a href="/author/index.html" th:text="#{author.center}">Khu vực tác giả</a></li>
                <li th:text="#{site.footer.copyright(${application.website.domain}, ${application.website.name})}">Bản quyền © Novel Plus. Đã đăng ký bản quyền.</li>

            </ul>
        </div>
    </div>
</div>
