<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="id" name="id" th:value="${bookIndex.id}"
                               type="hidden">
                                                                                                                                        <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.id}+'：'">ID truyện:</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="bookId" name="bookId"
                                                   th:value="${bookIndex.bookId}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.bookIndex.number}+'：'">Số thứ tự chương:</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="indexNum" name="indexNum"
                                                   th:value="${bookIndex.indexNum}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.bookIndex.name}+'：'">Tên chương:</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="indexName" name="indexName"
                                                   th:value="${bookIndex.indexName}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.bookIndex.wordCount}+'：'">Số chữ:</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="wordCount" name="wordCount"
                                                   th:value="${bookIndex.wordCount}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.paid}+'：'">Thu phí (1: thu phí, 0: miễn phí):</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="isVip" name="isVip"
                                                   th:value="${bookIndex.isVip}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.bookIndex.price}+'：'">Giá chương (Xu):</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="bookPrice" name="bookPrice"
                                                   th:value="${bookIndex.bookPrice}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.bookIndex.storage}+'：'">Phương thức lưu trữ:</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="storageType" name="storageType"
                                                   th:value="${bookIndex.storageType}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">：</label>
                                                                        <div class="col-sm-8">
                                                                                    <input type="text" class="laydate-icon layer-date form-control"
                                                   id="createTime"
                                                   name="createTime"
                                                   th:value="${bookIndex.createTime}==null?null:${#dates.format(bookIndex.createTime,'yyyy-MM-dd HH:mm:ss')}"
                                                   data-admin-laydate="datetime"
                                                   style="background-color: #fff;" readonly="readonly"/>
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">：</label>
                                                                        <div class="col-sm-8">
                                                                                    <input type="text" class="laydate-icon layer-date form-control"
                                                   id="updateTime"
                                                   name="updateTime"
                                                   th:value="${bookIndex.updateTime}==null?null:${#dates.format(bookIndex.updateTime,'yyyy-MM-dd HH:mm:ss')}"
                                                   data-admin-laydate="datetime"
                                                   style="background-color: #fff;" readonly="readonly"/>
                                                                            </div>
                                </div>
                                                                            <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary" th:text="#{common.submit}">Gửi</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/wangEditor/release/wangEditor.js"></script>
<script type="text/javascript" src="/js/appjs/novel/bookIndex/edit.js">
</script>
</body>
</html>
