<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
            <div class="ibox-content">
            <form class="form-horizontal m-t" id="signupForm">
                <input id="id" name="id" th:value="${dataPerm.id}"
                       type="hidden">
                                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.dataPerm.name}+'：'">Tên quyền dữ liệu:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${dataPerm.name}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.dataPerm.table}+'：'">Tên bảng dữ liệu:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${dataPerm.tableName}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.dataPerm.module}+'：'">Phân hệ:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${dataPerm.moduleName}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.dataPerm.userAttribute}+'：'">Thuộc tính người dùng dùng để kiểm soát quyền:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${dataPerm.crlAttrName}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.dataPerm.tableColumn}+'：'">Cột dữ liệu dùng để kiểm soát quyền:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${dataPerm.crlColumnName}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.dataPerm.code}+'：'">Mã quyền:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${dataPerm.permCode}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.dataPerm.sort}+'：'">Thứ tự:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${dataPerm.orderNum}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.audit.createdAt}+'：'">Thời gian tạo:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${dataPerm.gmtCreate}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.dataPerm.modifiedAt}+'：'">Thời gian sửa:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${dataPerm.gmtModified}">
                            </div>
                        
                        

                    </div>
                                                    </form>
            </div>
        </div>
    </div>
</div>
</div>
<div th:include="include::footer"></div>
</body>
</html>
