<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
            <div class="ibox-content">
            <form class="form-horizontal m-t" id="signupForm">
                <input id="id" name="id" th:value="${bookSetting.id}"
                       type="hidden">
                                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.id}+'：'">ID truyện:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${bookSetting.bookId}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.bookSetting.sort}+'：'">Thứ tự:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${bookSetting.sort}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.bookSetting.type}+'：'">Loại đề xuất:</label>

                                                    <div style="padding-top:8px" class="col-sm-8 dict-type" dict-type="book_rec_type"
                                 th:attr="dict-value=${bookSetting.type}">
                            </div>

                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.createdAt}+'：'">Thời gian tạo:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${bookSetting.createTime}==null?null:${#dates.format(bookSetting.createTime,'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.audit.createdById}+'：'">ID người tạo:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${bookSetting.createUserId}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.updatedAt}+'：'">Thời gian cập nhật:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${bookSetting.updateTime}==null?null:${#dates.format(bookSetting.updateTime,'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.audit.updatedById}+'：'">ID người cập nhật:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${bookSetting.updateUserId}">
                            </div>
                        
                        

                    </div>
                                                    </form>
            </div>
        </div>
    </div>
</div>
</div>
<div th:include="include::footer"></div>
</body>
</html>
