<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java2nb.novel.mapper.GamificationPublicPolicyMapper">
    <sql id="columns">
        id, policy_version AS policyVersion, title, content_text AS contentText,
        status, published_by AS publishedBy, published_at AS publishedAt, version
    </sql>

    <select id="selectPublished"
            resultType="com.java2nb.novel.service.gamification.GamificationPublicPolicyRow">
        SELECT <include refid="columns"/> FROM gamification_public_policy
        WHERE policy_version = #{policyVersion} AND status = 'PUBLISHED' LIMIT 1
    </select>

</mapper>
