<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:text="#{reader.seo.catalog.title(${book.bookName})}"></title>
    <meta name="keywords" th:content="#{reader.seo.catalog.keywords(${book.bookName})}">
    <meta name="description" th:content="#{reader.seo.catalog.description(${book.bookName})}">
    <div th:include="mobile/common/css :: css"></div>
    <style>
        .indexP p a { color: #4c6978; }
        .line-limit-length { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
    </style>
</head>
<body>
<div id="content">
    <input type="hidden" id="bookIdHidden" th:value="${book.id}"/>
    <div style="height:50px;line-height:50px;text-align:center" class="layui-header header header-doc layui-bg-cyan">
        <div style="float:left;margin-left:10px">
            <a href="javascript:history.go(-1)"><i style="font-size:20px;color:#fff" class="layui-icon">&#xe65c;</i></a>
        </div>
        <a style="color:#fff" th:href="'/book/'+${book.id}+'.html'"><b class="layui-icon" th:utext="${book.bookName}"></b></a>
        <div style="float:right;margin-right:10px">
            <a href="/"><i style="font-size:20px;color:#fff" class="layui-icon">&#xe68e;</i></a>
        </div>
    </div>
    <p style="height:30px;line-height:30px;padding:10px">
        <a href="#bottom" style="color:red" th:text="'\u2193 '+#{reader.goBottom}">↓ Đến cuối trang</a>
    </p>
    <div class="layui-colla-content layui-show indexP layui-row">
        <p class="line-limit-length layui-col-xs12 layui-col-sm4 layui-col-md3 layui-col-lg2"
           style="padding-left:10px;height:50px;line-height:50px" th:each="index : ${bookIndexList}">
            <a style="color:#333" th:href="'/book/'+${index.bookId}+'/'+${index.id}+'.html'" th:utext="${index.indexName}"></a>
        </p>
    </div>
</div>
<div th:replace="mobile/common/footer :: footer"></div>
<a name="bottom"></a>
<div th:replace="mobile/common/js :: js"></div>
<script>
    $.get("/book/addVisit", {"bookId": $("#bookIdHidden").val()}, function () {});

    function toMyCollect() {
        var token = localStorage.getItem("token");
        window.location.href = token ? "/book/search?token=" + token : "/user/login.html";
    }
</script>
</body>
</html>
