<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <!-- <div class="fixed-table-toolbar">
                     <div class="columns pull-left">
                         <button shiro:hasPermission="novel:bookComment:add" type="button"
                                 class="btn  btn-primary" onclick="add()">
                             <i class="fa fa-plus" aria-hidden="true"></i><span th:text="#{common.add}">Thêm</span>
                         </button>
                         <button shiro:hasPermission="novel:bookComment:batchRemove" type="button"
                                 class="btn  btn-danger"
                                 onclick="batchRemove()">
                             <i class="fa fa-trash" aria-hidden="true"></i><span th:text="#{common.deleteAction}">Xóa</span>
                         </button>
                     </div>
                     <div class="columns pull-right">
                         <button class="btn btn-success" onclick="reLoad()" th:text="#{common.query}">Tra cứu</button>
                     </div>

                     <form id="searchForm">
                         <div class="columns pull-right col-md-2">
                             <input id="id" name="id" type="text" class="form-control"
                                    th:placeholder="#{common.primaryKey}" placeholder="Khóa chính">
                         </div>
                     </form>

                 </div>-->
                <table id="exampleTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Shiro kiểm soát khả năng hiển thị nút thao tác trong Bootstrap Table. -->
<div>
    <script type="text/javascript">
        var s_detail_h = 'hidden';
        var s_edit_h = 'hidden';
        var s_remove_h = 'hidden';
    </script>
</div>
<div shiro:hasPermission="test:order:detail">
    <script type="text/javascript">
        s_detail_h = '';
    </script>
</div>
<div shiro:hasPermission="novel:bookComment:edit">
    <script type="text/javascript">
        s_edit_h = '';
    </script>
</div>
<div shiro:hasPermission="novel:bookComment:remove">
    <script type="text/javascript">
        var s_remove_h = '';
    </script>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/novel/bookComment/bookComment.js"></script>
</body>
</html>
