<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
            <div class="ibox-content">
            <form class="form-horizontal m-t" id="signupForm">
                <input id="id" name="id" th:value="${pay.id}"
                       type="hidden">
                                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.payment.outTradeNo}+'：'">Mã giao dịch ngoài:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${pay.outTradeNo}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.payment.tradeNo}+'：'">Mã đơn hàng:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${pay.tradeNo}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.payment.channel}+'：'">Kênh thanh toán:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${pay.payChannel}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.payment.amount}+'：'">Số Xu giao dịch:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${pay.totalAmount}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.payment.userId}+'：'">ID người thanh toán:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${pay.userId}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.payment.status}+'：'">Trạng thái thanh toán (0: thất bại, 1: thành công, 2: chờ thanh toán):</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${pay.payStatus}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.audit.createdAt}+'：'">Thời gian tạo:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${pay.createTime}==null?null:${#dates.format(pay.createTime,'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.audit.updatedAt}+'：'">Thời gian cập nhật:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${pay.updateTime}==null?null:${#dates.format(pay.updateTime,'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        

                    </div>
                                                    </form>
            </div>
        </div>
    </div>
</div>
</div>
<div th:include="include::footer"></div>
</body>
</html>
