<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
            <div class="ibox-content">
            <form class="form-horizontal m-t" id="signupForm">
                <input id="id" name="id" th:value="${book.id}"
                       type="hidden">
                                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.direction}+'：'">Kênh tác phẩm (0: nam, 1: nữ):</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.workDirection}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.categoryId}+'：'">ID danh mục:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.catId}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.categoryName}+'：'">Tên danh mục:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.catName}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.subcategoryId}+'：'">ID danh mục con:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.catChildId}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.subcategoryName}+'：'">Tên danh mục con:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.catChildName}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.cover}+'：'">Ảnh bìa:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.picUrl}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.name}+'：'">Tên truyện:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.bookName}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.maleLead}+'：'">Tên nhân vật nam chính:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.heroName}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.femaleLead}+'：'">Tên nhân vật nữ chính:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.ladyName}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.style}+'：'">Phong cách (0: ngọt ngào, 1: ngược tâm, 2: khác):</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.bookStyle}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.tags}+'：'">Nhãn tác phẩm:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.bookLabel}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.authorId}+'：'">ID tác giả:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.authorId}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.authorName}+'：'">Tên tác giả:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.authorName}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.description}+'：'">Giới thiệu truyện:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.bookDesc}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.score}+'：'">Điểm số:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.score}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.status}+'：'">Trạng thái truyện (0: đang ra, 1: hoàn thành):</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.bookStatus}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.views}+'：'">Lượt xem:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.visitCount}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.wordCount}+'：'">Tổng số chữ:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.wordCount}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.commentCount}+'：'">Số bình luận:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.commentCount}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.yesterdaySubscriptions}+'：'">Lượt mua chương hôm qua:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.yesterdayBuy}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.latestIndexId}+'：'">ID chương mới nhất:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.lastIndexId}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.latestIndexName}+'：'">Tên chương mới nhất:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.lastIndexName}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.latestIndexUpdatedAt}+'：'">Thời gian cập nhật chương mới nhất:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.lastIndexUpdateTime}==null?null:${#dates.format(book.lastIndexUpdateTime,'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.paid}+'：'">Thu phí (1: thu phí, 0: miễn phí):</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.isVip}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.shelfStatus}+'：'">Trạng thái (0: đã nhập, 1: đã xuất bản):</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.status}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.updatedAt}+'：'">Thời gian cập nhật:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.updateTime}==null?null:${#dates.format(book.updateTime,'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.createdAt}+'：'">Thời gian tạo:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.createTime}==null?null:${#dates.format(book.createTime,'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.crawlSourceId}+'：'">ID nguồn thu thập:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.crawlSourceId}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.crawlBookId}+'：'">ID truyện trên website nguồn:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.crawlBookId}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.lastCrawlAt}+'：'">Thời gian thu thập gần nhất:</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.crawlLastTime}==null?null:${#dates.format(book.crawlLastTime,'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label" th:text="#{admin.book.stopUpdate}+'：'">Đã dừng cập nhật (0: chưa dừng, 1: đã dừng):</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${book.crawlIsStop}">
                            </div>
                        
                        

                    </div>
                                                    </form>
            </div>
        </div>
    </div>
</div>
</div>
<div th:include="include::footer"></div>
</body>
</html>
