<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="id" name="id" th:value="${book.id}"
                               type="hidden">
                                                                                                                                        <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.direction}+'：'">Kênh tác phẩm (0: nam, 1: nữ):</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="workDirection" name="workDirection"
                                                   th:value="${book.workDirection}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.categoryId}+'：'">ID danh mục:</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="catId" name="catId"
                                                   th:value="${book.catId}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.categoryName}+'：'">Tên danh mục:</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="catName" name="catName"
                                                   th:value="${book.catName}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.subcategoryId}+'：'">ID danh mục con:</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="catChildId" name="catChildId"
                                                   th:value="${book.catChildId}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.subcategoryName}+'：'">Tên danh mục con:</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="catChildName" name="catChildName"
                                                   th:value="${book.catChildName}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.cover}+'：'">Ảnh bìa:</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="picUrl" name="picUrl"
                                                   th:value="${book.picUrl}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.name}+'：'">Tên truyện:</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="bookName" name="bookName"
                                                   th:value="${book.bookName}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.maleLead}+'：'">Tên nhân vật nam chính:</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="heroName" name="heroName"
                                                   th:value="${book.heroName}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.femaleLead}+'：'">Tên nhân vật nữ chính:</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="ladyName" name="ladyName"
                                                   th:value="${book.ladyName}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.style}+'：'">Phong cách (0: ngọt ngào, 1: ngược tâm, 2: khác):</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="bookStyle" name="bookStyle"
                                                   th:value="${book.bookStyle}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.tags}+'：'">Nhãn tác phẩm:</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="bookLabel" name="bookLabel"
                                                   th:value="${book.bookLabel}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.authorId}+'：'">ID tác giả:</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="authorId" name="authorId"
                                                   th:value="${book.authorId}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.authorName}+'：'">Tên tác giả:</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="authorName" name="authorName"
                                                   th:value="${book.authorName}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.description}+'：'">Giới thiệu truyện:</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="bookDesc" name="bookDesc"
                                                   th:value="${book.bookDesc}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.score}+'：'">Điểm số:</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="score" name="score"
                                                   th:value="${book.score}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.status}+'：'">Trạng thái truyện (0: đang ra, 1: hoàn thành):</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="bookStatus" name="bookStatus"
                                                   th:value="${book.bookStatus}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.views}+'：'">Lượt xem:</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="visitCount" name="visitCount"
                                                   th:value="${book.visitCount}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.wordCount}+'：'">Tổng số chữ:</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="wordCount" name="wordCount"
                                                   th:value="${book.wordCount}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.commentCount}+'：'">Số bình luận:</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="commentCount" name="commentCount"
                                                   th:value="${book.commentCount}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.yesterdaySubscriptions}+'：'">Lượt mua chương hôm qua:</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="yesterdayBuy" name="yesterdayBuy"
                                                   th:value="${book.yesterdayBuy}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.latestIndexId}+'：'">ID chương mới nhất:</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="lastIndexId" name="lastIndexId"
                                                   th:value="${book.lastIndexId}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.latestIndexName}+'：'">Tên chương mới nhất:</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="lastIndexName" name="lastIndexName"
                                                   th:value="${book.lastIndexName}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.latestIndexUpdatedAt}+'：'">Thời gian cập nhật chương mới nhất:</label>
                                                                        <div class="col-sm-8">
                                                                                    <input type="text" class="laydate-icon layer-date form-control"
                                                   id="lastIndexUpdateTime"
                                                   name="lastIndexUpdateTime"
                                                   th:value="${book.lastIndexUpdateTime}==null?null:${#dates.format(book.lastIndexUpdateTime,'yyyy-MM-dd HH:mm:ss')}"
                                                   data-admin-laydate="datetime"
                                                   style="background-color: #fff;" readonly="readonly"/>
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.paid}+'：'">Thu phí (1: thu phí, 0: miễn phí):</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="isVip" name="isVip"
                                                   th:value="${book.isVip}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.shelfStatus}+'：'">Trạng thái (0: đã nhập, 1: đã xuất bản):</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="status" name="status"
                                                   th:value="${book.status}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.updatedAt}+'：'">Thời gian cập nhật:</label>
                                                                        <div class="col-sm-8">
                                                                                    <input type="text" class="laydate-icon layer-date form-control"
                                                   id="updateTime"
                                                   name="updateTime"
                                                   th:value="${book.updateTime}==null?null:${#dates.format(book.updateTime,'yyyy-MM-dd HH:mm:ss')}"
                                                   data-admin-laydate="datetime"
                                                   style="background-color: #fff;" readonly="readonly"/>
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.createdAt}+'：'">Thời gian tạo:</label>
                                                                        <div class="col-sm-8">
                                                                                    <input type="text" class="laydate-icon layer-date form-control"
                                                   id="createTime"
                                                   name="createTime"
                                                   th:value="${book.createTime}==null?null:${#dates.format(book.createTime,'yyyy-MM-dd HH:mm:ss')}"
                                                   data-admin-laydate="datetime"
                                                   style="background-color: #fff;" readonly="readonly"/>
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.crawlSourceId}+'：'">ID nguồn thu thập:</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="crawlSourceId" name="crawlSourceId"
                                                   th:value="${book.crawlSourceId}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.crawlBookId}+'：'">ID truyện trên website nguồn:</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="crawlBookId" name="crawlBookId"
                                                   th:value="${book.crawlBookId}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.lastCrawlAt}+'：'">Thời gian thu thập gần nhất:</label>
                                                                        <div class="col-sm-8">
                                                                                    <input type="text" class="laydate-icon layer-date form-control"
                                                   id="crawlLastTime"
                                                   name="crawlLastTime"
                                                   th:value="${book.crawlLastTime}==null?null:${#dates.format(book.crawlLastTime,'yyyy-MM-dd HH:mm:ss')}"
                                                   data-admin-laydate="datetime"
                                                   style="background-color: #fff;" readonly="readonly"/>
                                                                            </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label" th:text="#{admin.book.stopUpdate}+'：'">Đã dừng cập nhật (0: chưa dừng, 1: đã dừng):</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="crawlIsStop" name="crawlIsStop"
                                                   th:value="${book.crawlIsStop}"
                                                   class="form-control"
                                                   type="text">
                                                                            </div>
                                </div>
                                                                            <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary" th:text="#{common.submit}">Gửi</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/wangEditor/release/wangEditor.js"></script>
<script type="text/javascript" src="/js/appjs/novel/book/edit.js">
</script>
</body>
</html>
