<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:text="#{auth.loginOrRegister}">Đăng nhập hoặc đăng ký</title>

    <div th:include="common/css :: css"></div>



</head>
<body id="read" >

</div>

<div style="height: 50px;line-height: 50px;text-align: center" class="layui-header header header-doc  layui-bg-cyan">

    <div style="float: left;margin-left: 10px">
        <a href="javascript:history.go(-1)">
            <i style="font-size: 20px;color: #92B8B1;" class="layui-icon">&#xe65c;</i></a>
    </div>
    <b class="layui-icon" th:text="#{auth.loginOrRegister}">Đăng nhập hoặc đăng ký</b>
    <div style="float: right;margin-right: 10px"><a href="/">
        <i style="font-size: 20px;color: #92B8B1;" class="layui-icon">&#xe68e;</i>
    </a>
    </div>
</div>

<form style="height: 500px;margin-top: 50px" class="layui-form" action="">
    <input type="hidden" id="bookIdHidden" name="bookId" th:value="${bookId}"/>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="#{auth.username}">Tên đăng nhập</label>
        <div class="layui-input-block">
            <input type="text" id="loginName" name="loginName" required lay-verify="required" th:placeholder="#{auth.username}" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="#{auth.password}">Mật khẩu</label>
        <div class="layui-input-inline">
            <input id="password" type="password" name="password" required lay-verify="required" th:placeholder="#{auth.password.required}" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux" th:text="#{auth.autoRegisterNote}">Nếu tên đăng nhập chưa tồn tại, hệ thống sẽ tự động tạo tài khoản.</div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo" th:text="#{auth.loginOrRegister}">Đăng nhập hoặc đăng ký</button>
            <button type="reset" class="layui-btn layui-btn-primary" th:text="#{common.reset}">Đặt lại</button>
        </div>
    </div>
</form>


<div th:replace="common/footer :: footer">
</div>

<a name="buttom"></a>
</body>
<div th:replace="common/js :: js"></div>

<script>
    $.get("/book/addVisit",{"bookId":$("#bookIdHidden").val()},function(){});

</script>

<script>
    // Xử lý form đăng nhập hoặc đăng ký.
    layui.use('form', function(){
        var form = layui.form;

        // Gửi form mà không thay đổi field API.
        form.on('submit(formDemo)', function(){
            $.post("/user/loginOrRegist",{"bookId":$("#bookIdHidden").val(),"loginName":$("#loginName").val(),"password":$("#password").val()},function (data) {
                if(data.code == 1 || data.code == 2){
                    localStorage.setItem("token",data.token);
                    layer.alert(data.desc);
                    setTimeout(function () {
                        var bookId = $("#bookIdHidden").val();
                        if(bookId){
                            // Quay lại trang truyện để tiếp tục thêm vào tủ sách.
                            window.location.href="/book/"+bookId+".html";
                        }else{
                            // Mở tủ sách của người dùng.
                            window.location.href="/book/search?token="+data.token;
                        }
                    },3000)

                }else{
                    layer.alert(data.desc);
                }
            });
            return false;
        });
    });
</script>
<script>



    function toMyCollect(){
        var token = localStorage.getItem("token");
        if(token) {
            window.location.href = "/book/search?token=" + token;
        }else{
            window.location.href = "/user/login.html";
        }
    }
</script>


</html>
