<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:text="#{site.login}">Đăng nhập</title>

    <div th:include="common/css :: css"></div>



</head>
<body id="read" >

</div>

<div style="height: 50px;line-height: 50px;text-align: center" class="layui-header header header-doc  layui-bg-cyan">

    <div style="float: left;margin-left: 10px">
        <a href="#" data-csp-action="history-back">
            <i style="font-size: 20px;color: #92B8B1;" class="layui-icon">&#xe65c;</i></a>
    </div>
    <b class="layui-icon" th:text="#{site.login}">Đăng nhập</b>
    <div style="float: right;margin-right: 10px"><a href="/">
        <i style="font-size: 20px;color: #92B8B1;" class="layui-icon">&#xe68e;</i>
    </a>
    </div>
</div>

<form style="height: 500px;margin-top: 50px" class="layui-form" action="">
    <input type="hidden" id="bookIdHidden" name="bookId" th:value="${bookId}"/>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="#{auth.username}">Tên đăng nhập</label>
        <div class="layui-input-block">
            <input type="text" id="loginName" name="loginName" required lay-verify="required" th:placeholder="#{auth.username}" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="#{auth.password}">Mật khẩu</label>
        <div class="layui-input-inline">
            <input id="password" type="password" name="password" required lay-verify="required" th:placeholder="#{auth.password.required}" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux"><a href="/user/register.html" th:text="#{auth.registerNow}">Đăng ký ngay</a></div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo" th:text="#{site.login}">Đăng nhập</button>
            <button type="reset" class="layui-btn layui-btn-primary" th:text="#{common.reset}">Đặt lại</button>
        </div>
    </div>
</form>


<div th:replace="common/footer :: footer">
</div>

<a name="buttom"></a>
</body>
<div th:replace="common/js :: js"></div>

<script>
    $.get("/book/addVisit",{"bookId":$("#bookIdHidden").val()},function(){});

</script>

<script>
    // Xử lý form đăng nhập bằng cookie HttpOnly do máy chủ thiết lập.
    layui.use('form', function(){
        var form = layui.form;

        form.on('submit(formDemo)', function(){
            $.ajax({
                type: "POST",
                url: "/user/login",
                data: {"username": $("#loginName").val(), "password": $("#password").val()},
                dataType: "json",
                success: function (data) {
                    if (data.code === 200) {
                        window.location.href = loginRedirectPath();
                    } else {
                        layer.alert(data.msg || "");
                    }
                },
                error: function () {
                    layer.alert(/*[[#{auth.networkError}]]*/ 'Không thể kết nối mạng');
                }
            });
            return false;
        });
    });

    function loginRedirectPath() {
        var originUrl = getQueryVariable("originUrl");
        if (originUrl) {
            try {
                var target = new URL(decodeURIComponent(originUrl), window.location.origin);
                if (target.origin === window.location.origin) {
                    return target.pathname + target.search + target.hash;
                }
            } catch (ignored) {
                // Dùng đường dẫn an toàn bên dưới khi originUrl không hợp lệ.
            }
        }
        var bookId = $("#bookIdHidden").val() || getQueryVariable("bookId");
        return /^\d+$/.test(bookId || "") ? "/book/" + bookId + ".html" : "/user/favorites.html";
    }
</script>
<script>



    function toMyCollect(){
        window.location.href = "/user/favorites.html";
    }
</script>


</html>
