<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:text="#{site.register}">Đăng ký</title>

    <div th:include="mobile/common/css :: css"></div>


</head>
<body id="read">

<div style="height: 50px;line-height: 50px;text-align: center" class="layui-header header header-doc  layui-bg-cyan">

    <div style="width:10%;float: left;margin-left: 10px">
        <a href="javascript:history.go(-1)">
            <i style="font-size: 20px;color: #fff;" class="layui-icon">&#xe65c;</i></a>
    </div>
    <b class="layui-icon" th:text="#{site.register}">Đăng ký</b>
    <div style="width:10%;float: right;margin-right: 10px"><a href="/">
        <i style="font-size: 20px;color: #fff;" class="layui-icon">&#xe68e;</i>
    </a>
    </div>
</div>
<form lay-filter="loginForm" id="form1" style="height: 500px;padding-top:30px;padding-right: 20px" class="layui-form"
      action="">
    <input type="hidden" id="bookIdHidden" name="bookId" th:value="${bookId}"/>

    <div class="layui-form-item">
        <label class="layui-form-label" th:text="#{auth.phone}">Số điện thoại</label>
        <div class="layui-input-inline">
            <input name="txtUName" type="text" id="txtUName" th:placeholder="#{auth.phone}"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" th:text="#{auth.password}">Mật khẩu</label>
        <div class="layui-input-inline">
            <input name="txtPassword" type="password" id="txtPassword" th:placeholder="#{auth.password.hint}"
                   autocomplete="off" class="layui-input">
        </div>

    </div>
    <div class="layui-form-item ">
        <label class="layui-form-label" th:text="#{auth.captcha}">Mã xác minh</label>
        <div class="layui-input-inline">
            <input name="txtUName" type="text" id="TxtChkCode" th:placeholder="#{auth.captcha}"
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-input-inline"><img
                style="border: 1px solid #eee" class="code_pic" src="" id="chkd"
                onclick="getVerify(this);"/></div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="button" th:value="#{site.register}" id="btnRegister" class="layui-btn"/>
            <a class="layui-btn layui-btn-primary" href="/user/login.html" th:text="#{site.login}">Đăng nhập</a>
        </div>
    </div>
</form>


<div th:replace="mobile/common/footer :: footer">
</div>
</body>
<div th:replace="mobile/common/js :: js">
</div>
<script type="text/javascript" th:inline="javascript">
    $("#chkd").click();

    $("#btnRegister").click(function () {
        var username = $("#txtUName").val();
        if (username.isBlank()) {
            layer.alert(/*[[#{auth.phone.required}]]*/ 'Vui lòng nhập số điện thoại!');
            return;
        }
        if (!username.isPhone()) {
            layer.alert(/*[[#{auth.phone.invalid}]]*/ 'Số điện thoại không đúng định dạng!');
            return;
        }
        var password = $("#txtPassword").val();
        if (password.isBlank()) {
            layer.alert(/*[[#{auth.password.required}]]*/ 'Vui lòng nhập mật khẩu!');
            return;
        }
        var velCode = $("#TxtChkCode").val();
        if (velCode.isBlank()) {
            layer.alert(/*[[#{auth.captcha.required}]]*/ 'Vui lòng nhập mã xác minh!');
            return;
        }
        $.ajax({
            type: "POST",
            url: "/user/register",
            data: {"username": username, "password": password, "velCode": velCode},
            dataType: "json",
            success: function (data) {
                if (data.code == 200) {
                    $.cookie('Authorization', data.data.token, {path: '/'});
                    window.location.href = "/";
                } else {
                    layer.alert(data.msg);
                }

            },
            error: function () {
                layer.alert(/*[[#{auth.networkError}]]*/ 'Không thể kết nối mạng');
            }
        })

    })

    // Lấy mã xác minh mới.
    function getVerify(obj) {
        obj.src = "/file/getVerify?" + Math.random();
    }
</script>


</html>
