package ${package}.domain;

import java.io.Serializable;


import java.math.BigDecimal;

import com.fasterxml.jackson.databind.annotation.JsonSerialize;
import com.java2nb.common.jsonserializer.LongToStringSerializer;


import org.springframework.format.annotation.DateTimeFormat;
import java.util.Date;



/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public class ${className}DO implements Serializable {
	private static final long serialVersionUID = 1L;

	
#foreach ($column in $columns)
	//$column.columnComment
	#if($column.javaType == "Long")
	//Kiểu long của Java có phạm vi lớn hơn number của JavaScript nên một số giá trị không biểu diễn chính xác trong JavaScript
	//Vì vậy, tuần tự hóa thành chuỗi để xử lý
	@JsonSerialize(using = LongToStringSerializer.class)
	#end
	#if($column.javaType == "Date")
	@DateTimeFormat(pattern = "yyyy-MM-dd HH:mm:ss")
	#end
	private $column.javaType $column.attrname;
#end

#foreach ($column in $columns)
	/**
	 * Đặt: ${column.columnComment}
	 */
	public void set${column.attrName}($column.javaType $column.attrname) {
		this.$column.attrname = $column.attrname;
	}
	/**
	 * Lấy: ${column.columnComment}
	 */
	public $column.javaType get${column.attrName}() {
		return $column.attrname;
	}
#end
}
